html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.view1 h1 {
    text-align: center;
    font-size: 2rem;
    background-color:lightgray;
    color: black;
}
.view2 a {
    background-color: lightgray;
    border: 1px solid black;
    margin-left: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}
.view2 ul {
    margin: 10px 0 0 0;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
}
.view2 a:active, a:focus {
    border: 2px dotted black;
}
.view3 {
    background-color: white;
}
.view3 a:hover {
    transition: all .3s ease-in-out;
    transform: scale(.9) rotate(-5deg);
}
.view3 a {
    border: 0 solid white;
}
.view4 {
    text-align: center;
}
.view4 a {
    border: 0 solid white;
}

@media screen and (max-width: 577px) {  
    .view0 {
        height: 100vh;
    }
    .view1 {
        height: 7vh;
    }
    .view2 {
        height: 10vh;
        background-color: lightgray;
        font-size: 1.25em;
    }
    .view3 {
        height: 17vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        overflow-y: hidden;
    }
    .view3 img {
        width: 23vw;
        height: auto;
        padding: 0.3em;
    }
    .view4 {
        width: 40vw;
    }
    .view4 img {
        width: 60vw;
    }
    .view4 p {
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        text-align: justify;
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
    .view0 {
        height: 100vh;
        background-color: lightgray;
    }
    .view1 {
        height: 7vh;
    }
    .view2 {
        height: 10vh;
        background-color: lightgray;
    }
    .view2 ul {
        margin: 10px 0 0 0;
        padding: 0;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        overflow-y: hidden;
    }
    .view3 {
        height: 85vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: scroll;
        overflow-x: hidden;
    }
    .view3 img {
        width: 13vw;
        height: auto;
        padding-left: 0.5em;
        margin: 0.1rem;
    }
    .view4 {
        background-color: white;
        height: 80vh;    }
    .view4 img {
        width: 60vw;
        text-align: center;
    }
    .view4 h5 {
        text-align: center;
    }
    .view4 p {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        text-align: justify;
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 769px) {
    .view0 {
        height: 100vh;
    }
    .view1 {
        height: 7vh;
    }
    .view2 {
        height: 10vh;
        background-color: lightgray;
    }
    .view2 ul {
        margin: 10px 0 0 0;
        padding: 0;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        overflow-y: hidden;
    }
    .view3 {
        /* width: 25vw; */
        height: 80vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: scroll;
        overflow-x: hidden;
        /* justify-content: flex-start; */
    }
    .view3 img {
        width: 9vw;
        height: auto;
        padding-left: 0.3em;
        margin: 0.1rem;
    }
    .view4 {
        height: 80vh;
    }
    .view4 img {
        width: 50vw;
        height: auto;
    }
    .view4 h5 {
        text-align: center;
        padding-top : 1rem;
    }
    .view4 p {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        text-align: justify;
        font-size: 0.8rem;
    }
}